@media (max-width: 1024px){
    .feedbacks__img{
        margin-right: 15px;
    }
}

@media (max-width: 768px){
    .header__official {
        display: none;
    }
    .header__phone {
        font-size: 16px;
    }

    .promo{
        padding: 21px 20px 93px;
    }
    .promo__header {
        font-size: 35px;
    }
    .promo__subheader{
        font-size: 19px;
    }

    .advantage__wrapper{
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .advantage__item{
        margin-top: 24px;
    }
    .advantage__subtitle {
        margin-top: 10px;
    }

    .title_left{
        font-size: 18px;
    }

    .consultation{
        min-height: 555px;
        padding: 80px 20px 75px;
    }
    .consultation__descr{
        font-size: 15px;
    }

    .carousel{
        padding: 45px 0;
    }
    .carousel__inner{
        width: 415px;
    }

    .catalog{
        padding-bottom: 30px;
    }
    .catalog__content{
        justify-content: space-around;
    }
    .catalog__tab{
        width: 120px;
        font-size: 13px;
        &:hover{
            box-shadow: none;
        }
    }

    .feedbacks__item{
        margin: 21px 0 24px;
        // flex-wrap: wrap;
    }
    .feedbacks__img{
        margin-right: 11px;
        width: 100px;
        height: 100px;
    }

    .footer{
        height: 500px;
    }
    .footer iframe{
        height: 500px;
    }
    .footer__info{
        height: 220px;
    }
    .footer__addr{
        margin-bottom: 26px;
    }
    .footer__phone{
        margin-bottom: 28px;
    }
}
@media (max-width: 425px){
    .header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__contacts{
        margin-top: 20px;
        align-items: center;
    }
    .promo__wrapper{
        align-items: center;
        margin-top: 35px;
    }
    .promo__icons{
        justify-content: center;
        margin-top: 40px;
        width: 300px;
    }
    .promo__header{
        font-size: 25px;
    } 
    .promo__subheader{
        font-size: 14px;
        margin-top: 10px;
    }
    .title {
        font-size: 24px;
    }
    .title_left{
        font-size: 14px;
    }

    .title_size_s{
        font-size: 14px;
        text-align: center;
    }

    .button{
        width: 300px;
        height: 50px;
        font-size: 16px;
    }

    .consultation{
        min-height: 430px;
        padding: 50px 0 45px;
    }
    .consultation__descr{
        font-size: 13px;
        text-align: center;
    }
    .feed-form_size_s{
        margin: 0 auto;
    }

    .carousel{
        display: none;
    }

    .catalog__tabs{
        flex-wrap: wrap;
    }
    .catalog__tab{
        width: 90%;
        font-size: 13px;
        margin: 10px 0;
    }
    .catalog-item__footer{
        flex-wrap: wrap;
    }
    
    .feedbacks__descr{
        font-size: 14px;
        line-height: 16px;
    }

    .footer__info{
        height: 160px;
        width: 310px;
        padding: 20px 20px 25px;
    }
    .footer__addr{
        margin-bottom: 14px;
        font-size: 15px;
    }
    .footer__phone{
        margin-bottom: 14px;
    }
}